* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 80px;
    background-color: #fff;
    padding: 0px 50px;
}

main {
    display: flex;
    flex-direction: row;
}

main > img {
    height: 100%;
    width: 50%;
}

main > div {
    width: 50%;
    box-sizing: border-box;
}

main > div input[type="text"] {
    width: calc(80% - 24px);
    padding: 10px;
}

main > div input[type="submit"] {
    width: 20%;
    padding: 10px;
}